.fbAvatar{
	border: none;
	visibility: visible;
	width: 190px;
	height: 60px;
	display: inline-block;
	vertical-align: top;
}

.fbFriendFaces{
	border: none;
	visibility: visible;
	width: 545px;
	height: 150px;
	position: relative;
	overflow: hidden;
	bottom: 93px;
}

.parentFbFaces{
	overflow: hidden;
	display: inline-block;
	height: 50px;
}